@font-face {
    font-family: HelveticaInserat;
    src: url(/fonts/HelveticaInserat-Roman.otf);
}
body {
	font-family: 'HelveticaInsaret', Helvetica;
}
h1 {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 60px;
}
p{
	font-size: 20px;
}
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel-caption {
    right: 20%;
    left: 20%;
    /* padding-bottom: 30px; */
     top: 40%;
}
/*.top-nav {
    
}*/
.top-bg {
	background-color:rgba(0,0,0,.3);
	position: absolute;
    z-index: 12;
    width: 100%;
}
.h1-border {
    height: 4px;
    background: #fff;
    width: 75%;
    margin: auto;

}
.text-border {
    height: 2px;
    background: #fff;
    width: 85%;
    margin: 2rem auto;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;;
}